@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans text-slate-700 antialiased;
  }
  [id] {
    scroll-margin-top: 5rem;
  }
}
