<!-- TaxMinion badge widget begin -->
<script src='https://taxminion.com/widget.js' type="text/javascript" async></script>
<script>
  window.tmTasks = window.tmTasks || [];
  function TaxMinion(){tmTasks.push(arguments);}

  TaxMinion('init', {
    "apiKey":"a4bc165f65685e54e3aeb34fdeb091104bae3eb0065db8085123ebf2f2f93268",
    "serviceBaseUrl":"https://api.taxminion.com",
    "wsBaseUrl":"https://ws.taxminion.com",
    "logoUrl": "/assets/img/profile.jpg",
  });
</script>
<!-- TaxMinion badge widget end -->

<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; {{ .Name }} {{ now.Format "2006"}}</div></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9HBQMMQJ0M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9HBQMMQJ0M');
</script>
